body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('background (1).png');
    background-size: 100%;  
    background-repeat: no-repeat;  
    background-position: center; 
}
  
.gwendolyn-bold {
    font-family: "Gwendolyn", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
#greet{
    background-color: antiquewhite;
}

h1 {
    font-family: 'Gwendolyn';
    font-size: 900%;
    font-weight: 700;
    color: #FF6F77;
    text-align: center;
    text-shadow: 
    -2px -2px 0 #c00000,  
    2px -2px 0 #c00000,  
    -2px 2px 0 #c00000,  
    2px 2px 0 #c00000;
    margin-top: 0;
    padding-top: 0;
}

h2{
    font-family: 'Gwendolyn';
    font-size: 200%;
    font-weight: 700;
    color: #FF3334;
    text-align: center;
    margin-top: 0;
    padding-top: 0; 
}

#letter {
    text-indent: 50px;
    border-style: solid;
    border-color: #FF3334;
    border-width: 5px;
    margin: auto;
    width: 1200px;
    height: 925px;
    background-color: #ffbbc1;
    color: white;
    text-align: justify;
    font-family: "Merriweather", serif;
    color: #ff5860;
    font-size: 25px;
    line-height: 1.5; 
    border-radius: 10px;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
}

.container {
    margin: 45px;
    display: flex;
    gap: 20px;
}

.box {
    width: 50%;
    background-color: #ffbbc1;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: #FF3334;
    border-width: 5px;
    border-radius: 10px;
    font-size: 50px;
}

#vid{
    display: grid;
    place-items: center;
    border-style: solid;
    border-color: #FF3334;
    border-width: 5px;
    margin: auto;
    width: 300px;
    height: 100px;
    background-color: #ffbbc1;
    border-radius: 10px;
}
